# General
black
pandas
datasets
tqdm
scikit-learn

# NLP
torch
transformers
tensorboard

# LangChain
langchain
langchain_experimental

# Models
openai
llamaapi

# Others
google-api-python-client
clearml
